name: Check, Build and Publish Docker distributions to Github Container Registry ghcr.io

on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        default: ubuntu-latest
      release-version:
        description: version for docker image label 
        type: string
        required: true
      docker-image-version:
        type: string
        required: true
      create-github-release:
        description: Whether creating github release
        type: boolean
        required: false
        default: false

jobs:
  check-licenses:
    name: Check licenses
    uses: th2-net/.github/.github/workflows/go-license-check.yml@main
    with:
      version: ${{ inputs.docker-image-version }}
  check-vulnerabilities:
    name: Check vulnerabilities
    uses: th2-net/.github/.github/workflows/go-vulnerabilities-scan.yml@main
  build:
    runs-on: ${{ inputs.runs-on }}
    needs: 
      - check-licenses
      - check-vulnerabilities
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: "Show version"
        run: |
          echo -e "repository:\n\tghcr.io/${{ github.repository }}"
          echo -e "version:\n\t${{ inputs.docker-image-version }}"
          echo -e "name:\n\tghcr.io/${{ github.repository }}:${{ inputs.docker-image-version }}"

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: echo "REPOSITORY_NAME=$(echo '${{ github.repository }}' | awk -F '/' '{print $2}')" >> $GITHUB_OUTPUT
        id: meta

      - name: Build
        run: make build

      - name: Test
        run: make run-test

      - name: Push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.actor != 'dependabot[bot]' }}
          tags: ghcr.io/${{ github.repository }}:${{ inputs.docker-image-version }}
          labels: com.exactpro.th2.${{ steps.meta.outputs.REPOSITORY_NAME }}=${{ inputs.release-version }}

  create-git-tag:
    if: inputs.create-github-release && !cancelled() && (needs.build.result == 'success')
    name: Create and push tag
    needs: build
    uses: th2-net/.github/.github/workflows/compaund-git-tag-push.yml@main
    with:
      runsOn: ${{ inputs.runs-on }}
      tagName: ${{ inputs.docker-image-version }}

  create-github-release:
    if: inputs.create-github-release && !cancelled() && (needs.create-git-tag.result == 'success')
    runs-on: ${{ inputs.runs-on }}
    needs: create-git-tag
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Build changelog
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v6
        with:
          configuration: .github/workflows/update-grpc-changelog-config.json
          toTag: ${{ inputs.docker-image-version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create release
        id: create_release
        uses: ncipollo/release-action@v1.20.0
        with:
          body: ${{ steps.build_changelog.outputs.changelog }}
          name: Release ${{ inputs.docker-image-version }}
          tag: ${{ inputs.docker-image-version }}
          token: ${{ secrets.GITHUB_TOKEN }}